<h1>Show Task</h1>
<br>

<div class="jumbotron">
  <h1 class="display-4"><%= @task.title %></h1>

  <% if @task.content.present? %>
    <hr>
    <p class="lead">
      <strong>Description:</strong>
      <%= simple_format(@task.content) %>
    </p>
  <% else %>
    <p class="lead text-muted">No additional description provided.</p>
  <% end %>
</div>

<%= link_to "Back", category_tasks_path(@task.category), class: "btn btn-secondary" %>
